/* 
    This style sheet should comply with the AIAA
    Brand Standards.  For details on how,
    to maintain compatability, see the AIAA
    Brand Standard Manual.

    https://www.aiaa.org/docs/default-source/uploadedfiles/about-aiaa/branding-and-logo/brandstandardmanual-v7-10.pdf?sfvrsn=bc4445cd_0
*/
/*
    FONTS
    A variety of AIAA approved fonts are availible in 
    the fonts directory. Futura is the primary 
    sans-serif font of the AIAA. It should be the 
    primary font. If for whatever reason, you need
    a serif font, use Minion.  
    
    You can import these fonts for use using the
    @font-face rule.
*/
@font-face {
    font-family: "futura";
    src: url(./fonts/Futura-Std-Book.ttf);
    font-style: normal;
}

@font-face {
    font-family: "futura-thin";
    src: url(./fonts/Futura-Thin.ttf);
    font-style: normal;
}

body {
    /* Corporate Colors */
    --aiaa-blue: #00338e;
    --jet-black: #1d1d1d;
    /* White is  also a corporate color however it
     is identical to css white. Just use that.*/

    /* Secondary Colors */
    --aiaa-gold: #edb700;
    --aiaa-sky-blue: #0096db;

    /* Accent Colors */
    --red: #be0f34;
    --orange: #f2af32;
    --light-blue: #bcc3db;
    --grey: #dbc6ba;

    font-family: futura;
}

.grow {
    transition: all 0.2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}

.front-carousel-images {
    object-fit: cover;
    height: 10em;
}

.portrait {
    width: 20%;
    border-radius: 50%;
}
