/* 
        This style sheet should comply with the AIAA
        Brand Standards.  For details on how,
        to maintain compatability, see the AIAA
        Brand Standard Manual.

        https://www.aiaa.org/docs/default-source/uploadedfiles/about-aiaa/branding-and-logo/brandstandardmanual-v7-10.pdf?sfvrsn=bc4445cd_0
    */
/*
    FONTS
    A variety of AIAA approved fonts are availible in 
    the fonts directory. Futura is the primary 
    sans-serif font of the AIAA. It should be the 
    primary font. If for whatever reason, you need
    a serif font, use Minion.  
    
    You can import these fonts for use using the
    @font-face rule.
*/
@font-face {
    font-family: "futura";
    src: url(./fonts/Futura-Std-Book.ttf);
    font-style: normal;
}

@font-face {
    font-family: "futura-thin";
    src: url(./fonts/Futura-Thin.ttf);
    font-style: normal;
}

body {
    /* Corporate Colors */
    --aiaa-blue: #00338e;
    --jet-black: #1d1d1d;
    /* White is  also a corporate color however it
     is identical to css white. Just use that.*/

    /* Secondary Colors */
    --aiaa-gold: #edb700;
    --aiaa-sky-blue: #0096db;

    /* Accent Colors */
    --red: #be0f34;
    --orange: #f2af32;
    --light-blue: #bcc3db;
    --grey: #dbc6ba;

    font-family: futura;
    background-color: var(--aiaa-blue);
    text-align: justify;
}


.center{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 3px var(--jet-black);
}

h1, h2 {
    font-family: futura-thin;
    font-style: normal;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px var(--jet-black);
    margin: 3px;
}

h2 {
    font-size: large;
}

.logo {
    padding-top: 10rem;
    width: 25%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wikibtn {
    color: var(--jet-black);
    width: 10%;
    display: block; 
    text-align: center;
    margin-top: 50px;
    background-color: var(--aiaa-gold);
}