{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center display-1 mt-5">500</h1>

    <br />
    <h3 class="text-center">
        Sorry, an internal server error has occurred.
    </h3>
    <hr />
    <p class="lead text-center">
        If this problem persists, please report it to the site admin.
    </p>

    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <a class="btn text-light btn-primary mr-3 mb-3"
                href="mailto:aiaa-officers@wpi.edu?subject=Server Error on aiaa.wpi.edu." role="button">
                Report Problem
            </a>
        </div>
        <div class="col-md-12 text-center">
            <a class="btn text-light btn-primary mr-3" href="{% url 'home:index' %}" role="button">AIAA Home</a>
            <a class="btn text-light btn-primary mr-3" href="{% url 'wiki:root' %}" role="button">Wiki</a>
            <a class="btn text-light btn-primary mr-3" href="{% url 'hprc:index' %}" role="button">HPRC Home</a>
        </div>
    </div>

    <br />

</div>
{% endblock content %}