{% extends "home/base.html" %} {% load static %} {% block content %}
<div class="container">
    <h1 class="text-center display-4 mt-5">About AIAA</h1>

    <br />
    <h3>What is the AIAA?</h3>
    <hr />
    <p>
        The American Institute of Aeronautics and Astronautics (AIAA) is a
        global organization of over 31,000 members that serves to link together
        professionals, educators, and students of the aerospace industry. Each
        year, AIAA sponsors a large number of technical conferences and student
        competitions across the nation. It also publishes a variety of books –
        including the AIAA Education series of textbooks – and nine research
        journals. Organizationally, AIAA is composed of seven regional offices,
        sixty-four local sections, and over 160 student branches.

        <br />
    </p>
    <br />

    <h3>AIAA at WPI</h3>
    <hr />
    <p>
        The WPI AIAA Student Branch is one of campus' largest special interest clubs.
        We organize events each semester like guest speakers, design challenges, and
        social activities. Involvement in AIAA is an excellent way to meet other 
        people who are interested in aerospace. The club manages a number of 
        subcommittees which are all hands-on enineering projects. As a professional
        society, we also offer students help with career fair prep, aerospace 
        courses, and share internship opportunites.
        The WPI AIAA is open to all WPI students, regardless of major or knowledge 
        background. If your're interested in AIAA, you can reach out to the officer
        board and join us on Techsync.
    </p>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- <a
                class="btn text-light btn-primary mr-3"
                href="{% url 'home:subcommittees' %}"
                role="button"
                >Subcommittees</a
            > -->
            <a
                class="btn text-light btn-primary ml-3"
                target="_blank"
                href="https://wpi.campuslabs.com/engage/organization/aiaa"
                role="button"
                >Join AIAA</a
            >
        </div>
    </div>

    <br />
    <h3>The Executive Board</h3>
    <hr />
    <!-- <p>
        The WPI student chapter is lead by the officer board. The
        board is elected by the club's members.
    </p> -->
    <div class="row justify-content-center text-left">
        <div class="col-sm-3">
            <div class="card">
                <img
                    class="card-img-top"
                    src="{% static 'home/img/OfficerBoardPhotos/23-24/Chair23-24.jpg' %}"
                    alt="Chair"
                />
                <div class="card-body">
                    <h1 class="card-title">Chair</h1>
                    <h4 class="card-text">Nate Pinkhasov</h4>
                    <p class="card-text">
                        Class of '24 <br>
                        Architectural Engineering BS <br>
                        Aerospace Engineering MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img
                    class="card-img-top"
                    src="{% static 'home/img/OfficerBoardPhotos/23-24/ViceChair23-24.jpg' %}"
                    alt="Vicechair"
                />
                <div class="card-body">
                    <h1 class="card-title">Vice Chair</h1>
                    <h4 class="card-text">Aunika Yasui</h4>
                    <p class="card-text">
                        Class of '24 <br> 
                        Mechanical Engineering BS <br> 
                        Aerospace Engineering MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img
                    class="card-img-top"
                    src="{% static 'home/img/OfficerBoardPhotos/23-24/Treasurer23-24.jpg' %}"
                    alt="Treasurer"
                />
                <div class="card-body">
                    <h1 class="card-title">Treasurer</h1>
                    <h4 class="card-text">Paige Rust</h4>
                    <p class="card-text">
                        Class of '26 <br> 
                        Aerospace Engineering BS <br> 
                        Electrical and Computer Engineering BS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center text-left">
        <div class="col-sm-3">
            <div class="card">
                <img
                    class="card-img-top"
                    src="{% static 'home/img/OfficerBoardPhotos/23-24/Secretary23-24.jpg' %}"
                    alt="Secretary"
                />
                <div class="card-body">
                    <h1 class="card-title">Secretary</h1>
                    <h4 class="card-text">Kate Dobson</h4>
                    <p class="card-text">
                        Class of '26, Aerospace Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img
                    class="card-img-top"
                    src="{% static 'home/img/OfficerBoardPhotos/23-24/PR23-24.jpg' %}"
                    alt="PR Officer"
                />
                <div class="card-body">
                    <h1 class="card-title">P.R. Officer</h1>
                    <h4 class="card-text">Evan Mandel</h4>
                    <p class="card-text">
                        Class of '25, Aerospace Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
