{% load static %}

<div class="container">
    <h3 class="text-center">Social Media and Links</h3>
    <div class="row">
        <div class="col-sm">
            <a href="https://www.instagram.com/wpi_aiaa" target="_blank" >
                <img src="{% static "icon/instagram.svg" %}" alt="Instagram"
                width=50% class="mx-auto mt-2 d-block grow"/>
            </a>
        </div>
        <div class="col-sm">
            <a href="https://www.facebook.com/WPIAIAA/" target="_blank" >
                <img src="{% static "icon/facebook.svg" %}" alt="Facebook"
                width=50% class="mx-auto mt-2 d-block grow"/>
            </a>
        </div>
        <div class="col-sm">
            <a href="https://wpi.campuslabs.com/engage/organization/aiaa" target="_blank" >
                <img src="{% static "icon/join-aiaa.svg" %}" alt="email"
                width=50% class="mx-auto mt-2 d-block grow"/>
            </a>
        </div>
        <div class="col-sm">
            <a href="mailto:aiaa-officers@wpi.edu">
                <img src="{% static "icon/email.svg" %}" alt="email"
                width=50% class="mx-auto mt-2 d-block grow"/>
            </a>
        </div>
    </div>
</div>

