{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center display-4 mt-5">AIAA Subcommittees</h1>

    <br>
    <hr>
    <p>
        In addition to all the events and activities run by the AIAA,
        the club has several subcommittees. These groups focus on specific
        activities, usually hands on projects, relating to aerospace.
        Members of the AIAA are free to join subcommittees. If you are
        interested in joining a subcommittee, you can ask an officer
        at any AIAA general body meeting or <a href="mailto:aiaa-officer@wpi.edu">email us</a>.
        You can read below to see what subcommittees we have right now.
    </p>
    <br>
    <div class="row justify-content-center text-left">
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'home/img/lake_launch.jpg' %}" alt="HPRC">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">High Power Rocketry Club</h2>
                    <p class="card-text">Competition Rocketry and Robotics</p>
                    <!-- modal -->
                    <button type="button" class="btn btn-primary float-right mt-auto" data-toggle="modal"
                        data-target="#hprcModal">
                        Read More
                    </button>
                    <div class="modal fade" id="hprcModal" tabindex="-1" role="dialog" aria-labelledby="hprcModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hprcModalLabel">High Power Rocketry Club</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        HPRC is a rocketry team that competes in collegiate rocketry competitions.
                                        The team builds a high power rocket each year designed to carry a robotic
                                        payload thousands of feet in the to hit a target altitude. They have built
                                        payloads ranging from self-righting landers to quadcopters to complete a variety
                                        of missions.
                                    </p>
                                    <p>
                                        Members of this subcommittee work together within a highly organized team
                                        structure.
                                        The team is composed of a Rocket and Payload division, both of which are further
                                        divided into subteams that are each responsible for a different subsystem in the
                                        vehicle. The team also authors multiple technical reports each year, similar to
                                        those written for MQP and in industry.
                                    </p>
                                    <p>
                                        HPRC is always looking for new members with diverse backgrounds. Not only
                                        does the team need aerospace engineers to build the rocket, but also people
                                        with backgrounds in robotics, electronics, software, and more to create
                                        everything from robotic payloads to computer ground station GUIs. HPRC
                                        is open to members new to engineering. The team runs workshops and provides
                                        mentorship for students looking to get hands on experience.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-primary" href="{% url 'hprc:index' %}" role="button">HPRC
                                        Website</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'home/img/uavclub.jpg' %}" alt="UAV Club">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">UAV Club</h2>
                    <p class="card-text">Drone flying, building, and FPV.</p>
                    <!-- modal -->
                    <button type="button" class="btn btn-primary float-right mt-auto" data-toggle="modal"
                        data-target="#uavModal">
                        Read More
                    </button>
                    <div class="modal fade" id="uavModal" tabindex="-1" role="dialog" aria-labelledby="uavModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="uavModalLabel">UAV Club</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        UAV Club is a subcommittee dedicated to unmanned ariel vehicles.
                                        Typically, these are quadcopters and other similar craft. The club
                                        has activities that teach members how UAVs are built as well as how
                                        to fly them. The club also hosts Free Fly days for members to hang
                                        out and fly together.
                                    </p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'home/img/modelrocket.png' %}" alt="Model Rocketry">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">Model Rocketry</h2>
                    <p class="card-text">Learn Rocketry and get NAR certified.</p>
                    <!-- modal -->
                    <button type="button" class="btn btn-primary float-right mt-auto" data-toggle="modal"
                        data-target="#modelModal">
                        Read More
                    </button>
                    <div class="modal fade" id="modelModal" tabindex="-1" role="dialog"
                        aria-labelledby="modelModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modelModalLabel">Model Rocketry</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        The Model Rocketry subcommittee is ideal for members who want to
                                        learn rocketry by designing and building their own rockets. This
                                        subcommittee runs smaller events such as low power rocket building
                                        days as well as trips to rocket launches. Every year, they run a
                                        Level 1 Rocketry program that includes workshops and build sessions
                                        where members design, build, and fly their own high power rocket in
                                        order to get a Level 1 High Power Rocketry certification from the
                                        National Association of Rocketry (NAR).
                                    </p>
                                    <p>
                                        While rocketry can get expensive, the AIAA is committed to making
                                        it accessible. The club covers all costs associated with building
                                        and flying a rocket for members pursuing a level 1 HPR NAR certification.
                                        Funding is also available for higher certification levels and other
                                        projects on a case by case basis.
                                    </p>
                                    <p>
                                        Unlike HPRC, Model Rocketry is not a competition team. It is a
                                        great option for those who aren't interested in competing, want
                                        to become NAR certified, or just want a new hobby.
                                    </p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'home/img/wren.gif' %}" alt="Wren Jet Engine">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">Jet Engine Project</h2>
                    <p class="card-text">Help build a miniature jet engine.</p>
                    <!-- modal -->
                    <button type="button" class="btn btn-primary float-right mt-auto" data-toggle="modal"
                        data-target="#jetModal">
                        Read More
                    </button>
                    <div class="modal fade" id="jetModal" tabindex="-1" role="dialog" aria-labelledby="jetModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="jetModalLabel">Jet Engine Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        The jet engine project aims to create a test stand for safe operation and
                                        monitoring of a miniature jet engine, the WREN
                                        75. Design requirements of this test stand will involve the measuring of
                                        temperature and pressure at different points
                                        within the engine, safe control of startup and power down sequences, and
                                        allowing for real time monitoring of the engine
                                        system during user operation. This model will serve as a demonstration and
                                        teaching tool to improve student learning and
                                        promote engineering development within the WPI chapter of the AIAA. The test
                                        stand will additionally be used as part of
                                        the WPI Fundamentals of Air-breathing Propulsion course AE-4711 and for AIAA
                                        outreach events.
                                    </p>
                                    <p>
                                        The sub-teams of this project are divided between the design and implementation
                                        of the physical test stand and control system respectively. The test stand team
                                        works on the safe implementation of the necessary mechanical mounting systems
                                        for the sensors and engine itself, while the controls team focuses on the
                                        electrical control system, which integrates the sensors to a data acquisition
                                        system and generates control signals based on proper data interpretation.
                                    </p>
                                    <p>
                                        While this subcommittee does not explicitly aim to teach and mentor members
                                        unlike HPRC and Model Rocketry, the project welcomes members of all experience
                                        levels for contribution.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-primary" href="{% url 'home:proposal' %}" role="button">Read the
                                        Proposal</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>





    </div>
    {% endblock content %}