{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="{% static 'home/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'home/main.css' %}" rel="stylesheet">
    <link href="{% static 'hprc/bootstrap-theme.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'hprc/img/icon.png' %}" />
    <title>WPI HPRC</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'hprc:index' %}">
            <img src="{% static 'hprc/img/hprc logo white.png' %}" alt="WPI AIAA" height="50">            
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                <a class="nav-link {% if nbar == 'home' %}active{% endif %}" aria-current="page" href="{% url 'hprc:index' %}">Home</a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="projectsLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                  </a>
                  <div class="dropdown-menu" aria-labelledby="projectsLabel">
                    <a class="dropdown-item" href="#">2021, Sirius and Polaris</a>
                    <a class="dropdown-item" href="#">2020, Project Goddard</a>
                    <a class="dropdown-item" href="#">2019, G.O.A.T.S</a>
                  </div>
                </li>
                <a class="nav-link {% if nbar == 'events' %}active{% endif %}" href="{% url 'hprc:index' %}">Sponsors</a>
                <a class="nav-link {% if nbar == 'about' %}active{% endif %}" href="{% url 'hprc:index' %}">Teams</a>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-secondary me-2" href="{% url 'wiki:root' %}" role="button">Wiki</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <br class="mb-5">
    <br class="mb-5">
    <br class="mb-5">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
  <footer class="w-100" style="position:fixed; bottom:0; left:0;">
    <div class="w-100 p-3 text-right text-light bg-primary">
        <a class="btn btn-outline-light btn-sm mt-0 me-2 float-left" href="{% url 'home:index' %}" role="button">WPI AIAA</a>
        <div class="float-left">
            <a href="mailto:hprc-officers@wpi.edu">
                <img src="{% static 'icon/email-white.svg' %}" class="ml-3 grow" alt="Email"
                width=30 />
            </a>
        </div>
        <span class="text-right mr-auto">
            © <script>document.write(new Date().getFullYear())</script> Copyright: WPI AIAA
        </span>
        <br>
    </div>
  </footer>
</html>