{% extends "hprc/base.html" %}
{% load static %}
{% block content %}
<div class="container shadow">
    <h1 class="display-3 mt-4">Contact HPRC</h1>
    <hr />

    <p>
        To get in contact with the team, you can use the following contact information.
    </p>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-right">
                <p>
                    <strong>HPRC Officer Board</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <a href="mailto:gr-hprc-officers@wpi.edu">gr-hprc-officers@wpi.edu</a>
                    <br>
                    <i>For general communications and questions.</i>
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <strong>Team Captain</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Kevin Schultz</b> <br>
                    <a href="mailto:kschultz@wpi.edu">kschultz@wpi.edu</a>
                    <br>
                    (650)-279-8271
                    <br>
                    <i>For emergencies and urgent communication.</i>
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <strong>Sponsorship Officer</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Julia Sheats</b> <br>
                    <a href="mailto:jisheats@wpi.edu">jisheats@wpi.edu</a>
                    <br>
                    <i>For inquiries about donations or sponsorships.</i>
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <strong>Engagement Officer</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Kirsten Bowers</b> <br>
                    <a href="mailto:kmbowers@wpi.edu">kmbowers@wpi.edu</a>
                    <br>
                    <i>For inquiries about educational events, resources, and workshops.</i>
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <strong>Public Relations Officer</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Abby Hyde</b> <br>
                    <a href="mailto:aghyde@wpi.edu">aghyde@wpi.edu</a>
                    <br>
                    <i>For inquiries about about social media or <a href="https://aiaa.wpi.edu/hprc/">wpihprc.com</a>.</i>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}