{% extends "hprc/base.html" %}
{% load static %}
{% block content %}
<div class="container shadow">
    <h1 class="display-3 mt-4">Contact HPRC</h1>
    <hr />

    <p>
        To get in contact with the team student leads, use the following information.
    </p>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-right">
                <p>
                    <strong>HPRC Officer Board</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <a href="mailto:hprc-officers@wpi.edu">hprc-officers@wpi.edu</a>
                    <br>
                    <i>For general inquiries or referral.</i>
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <strong>Team Captain</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Aunika Yasui</b> <br>
                    <a href="mailto:amyasui@wpi.edu">amyasui@wpi.edu</a>
                    <br>
                    <i>For emergencies and urgent communications.</i>
                </p>
            </div>

            <div class="col-sm-6 text-right">
                <p>
                    <strong>Treasurer</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Paige Rust</b> <br>
                    <a href="mailto:pmrust@wpi.edu">pmrust@wpi.edu</a>
                    <br>
                    <i>For inquiries about team finances and <a href="https://givingday.wpi.edu/">Giving Day</a>.</i>
                </p>
            </div>

            <div class="col-sm-6 text-right">
                <p>
                    <strong>Sponsorship Officer</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Peter Korfuzi</b> <br>
                    <a href="mailto:pkorfuzi@wpi.edu">pkorfuzi@wpi.edu</a>
                    <br>
                    <i>For inquiries about donations or sponsorships.</i>
                </p>
            </div>

            <div class="col-sm-6 text-right">
                <p>
                    <strong>Engagement Officer</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Kelli Huang</b> <br>
                    <a href="mailto:kzhuang@wpi.edu">kzhuang@wpi.edu</a>
                    <br>
                    <i>For inquiries about educational events, resources, and workshops.</i>
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <strong>Public Relations Officer</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Ben Peters</b> <br>
                    <a href="mailto:bdpeters@wpi.edu">bdpeters@wpi.edu</a>
                    <br>
                    <i>For inquiries about social media and the <a href="{% url 'hprc:index' %}">website</a>.</i>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}