{% extends "hprc/base.html" %} {% load static %} {% block content %}
<div style="background-color:#ac2b37;">
    <object data="{% static document %}" type="application/pdf" width="100%" height="800px">
        <div style="background-color: white;">
            <br class="mt-5"><br class="mt-5"><br class="mt-5">
            <p class="text-center lead">It appears you don't have a PDF plugin for this browser.
                You can still download the sponsorship package to view on your computer.</p>
            <div class="text-center">
                <a class="btn btn-primary text-center" href="{% url docUrl %}" role="button">{{docName}}</a>
            </div>
        </div>
    </object>
</div>

{% endblock content %}