{% extends "hprc/base.html" %} {% load static %} {% block content %}

<div class="container shadow">
    <h1 class="display-3 mt-4">Sponsors</h1>
    <hr />
    <p class="lead">
        In addition to the AIAA, HPRC is able to compete in rocketry
        competitions thanks to the generous donations of our sponsors.
    </p>
    <p>
        Interested in sponsoring HPRC? Check our sponsorship package. You can also email the
        <a href="mailto:hprc-officers@wpi.edu">HPRC Officer Board</a>
        for more details.
    </p>
    <div class="text-center">
        <a class="btn btn-primary text-center" href="{% url 'hprc:sponsorpackage' %}" role="button">Sponsorship
            Package</a>
    </div>
    <br class="mt-5" />
    <div class="container">
        <h1>Platinum</h1>
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <a href="https://www.altium.com" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/altium.jpg' %}"
                        alt="Altium Limited" />
                </a>
            </div>
        </div>

        <br class="mt-5">
        <h1>Gold</h1>
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://www.wpi.edu/about/innovation-entrepreneurship/programs/tinkerbox" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/TinkerBox.png' %}"
                        alt="TinkerBox" />
                </a>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <a href="http://www.ensign-bickfordind.com/" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/ebi.png' %}" alt="EBI" />
                </a>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://endaq.com/" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/enDAQ.png' %}"
                        alt="enDAQ" />
                </a>
            </div>
        </div><br class="mt-5">

        <h1>Silver</h1>
        <hr>
        <i>
            <p class="subtle text-muted">No silver sponsors this year.</p>
        </i>

        <br class="mt-5">
        <h1>Bronze</h1>
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://www.astralintu.com/" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/Artboard1_cropped.png' %}"
                        alt="Astralintu" />
                </a>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://www.testdevices.com/" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/test-devices.png' %}"
                        alt="Test Devices" />
                </a>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://www.collinsaerospace.com/" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/collins_cropped.jpg' %}" alt="Collins Aerospace" />
                </a>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://www.turnerconstruction.com/" target="_blank">
                    <img class="grow pt-3" width="100%" src=" {% static 'hprc/img/sponsors/turner.png' %}" alt="Turner" />
                </a>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock content %}