{% extends "hprc/base.html" %}
{% load static %}
{% block content %}
<div class="container shadow">
    <h1 class="display-3 mt-4">The Team</h1>
    <hr />

    <p>
        HPRC is a student organization at WPI and a subcommittee of the <a href="{% url 'home:index' %}">AIAA</a>.
        The team is lead by the Captain and the Officer Board, composed of eleven dedicated members. It is organized
        into three divisions, Rocket, Payload, and Electronics &amp; Programming, each run by a division lead. Additionally, the team's advisor is Professor Blandino.
    </p>
    <br>
    <h2>The Officer Board</h2>
    <div class="row justify-content-center text-left">
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/captain.jpg' %}" alt="Captain" />
                <div class="card-body">
                    <h1 class="card-title">Captain</h1>
                    <h4 class="card-text">Kevin Schultz</h4>
                    <p class="card-text">
                        Class of '23, Aerospace Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/rocketlead.jpg' %}"
                    alt="Rocket Lead" />
                <div class="card-body">
                    <h1 class="card-title">Rocket Lead</h1>
                    <h4 class="card-text">Troy Otter</h4>
                    <p class="card-text">
                        Class of '22, Aerospace Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/payloadlead.jpg' %}"
                    alt="Payload Lead" />
                <div class="card-body">
                    <h1 class="card-title">Payload Lead</h1>
                    <h4 class="card-text">Jake Roller</h4>
                    <p class="card-text">
                        Class of '23, Aerospace Engineering BS, Electrical Engineering Minor
                    </p>
                </div>
            </div>
        </div>
		<div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/enplead.jpg' %}"
                    alt="Payload Lead" />
                <div class="card-body">
                    <h1 class="card-title">Electronics Lead</h1>
                    <h4 class="card-text">Michael Beskid</h4>
                    <p class="card-text">
                        Class of '23, Aerospace Engineering BS, Robotics Engineering BS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center text-left">
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/treasurer.jpg' %}"
                    alt="Treasurer" />
                <div class="card-body">
                    <h2 class="card-title">Treasurer</h2>
                    <h4 class="card-text">Aunika Yasui</h4>
                    <p class="card-text">
                        Class of '24, Mechanical Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/safety.png' %}"
                    alt="Safety Officer" />
                <div class="card-body">
                    <h2 class="card-title">Safety Officer</h2>
                    <h4 class="card-text">Haggai Vardi</h4>
                    <p class="card-text">
                        Class of '24, Mechanical Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/sponsorship.jpg' %}"
                    alt="Sponsorship Officer" />
                <div class="card-body">
                    <h2 class="card-title">Sponsorship Officer</h2>
                    <h4 class="card-text">Peter Korfuzi</h4>
                    <p class="card-text">
                        Class of '24, Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/logistics.jpg' %}"
                    alt="Logistics Officer" />
                <div class="card-body">
                    <h2 class="card-title">Logistics Officer</h2>
                    <h4 class="card-text">Sarah Semmy</h4>
                    <p class="card-text">
                        Class of '22, Aerospace Engineering BS, Mechanical Engineering Minor
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center text-left">
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/engagement.jpg' %}"
                    alt="Engagement Officer" />
                <div class="card-body">
                    <h2 class="card-title">Engagement Officer</h2>
                    <h4 class="card-text">Navpreet Kaur</h4>
                    <p class="card-text">
                        Class of '25, Mechanical Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/documentation.jpg' %}"
                    alt="Documentation Officer" />
                <div class="card-body">
                    <h2 class="card-title">Documentation Officer</h2>
                    <h4 class="card-text">Jon Whooley</h4>
                    <p class="card-text">
                        Class of '23, Aerospace Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/pr.jpg' %}" alt="P.R. Officer" />
                <div class="card-body">
                    <h2 class="card-title">P.R. Officer</h2>
                    <h4 class="card-text">Natanel Pinkhasov</h4>
                    <p class="card-text">
                        Class of '24, Architectural Engineering BS, Space Structures Minor
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}