{% extends "hprc/base.html" %}
{% load static %}
{% block content %}
<div class="container shadow">
    <h1 class="display-3 mt-4">The Team</h1>
    <hr />

    <p>
        HPRC is an extracurricular student organization at WPI.
        The team is lead by the captain, the project engineering leads, and the general officer board. 
        The current members fulfiling these roles are shown below, contact them for more information on their respective positions. 
        Competition work is organized into three divisions: Rocket, Payload, and Electronics &amp; Programming, each run by a division lead. 
        The team's faculty advisor is Professor Blandino.
    </p>
    <br>
    <h2>The Officer Board</h2>
    <div class="row justify-content-center text-left">
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/Captain23-24.jpg' %}" 
                    alt="Captain" />
                <div class="card-body">
                    <h1 class="card-title">Captain</h1>
                    <h4 class="card-text">Aunika Yasui</h4>
                    <p class="card-text">
                        Class of '24 <br> 
                        Mechanical Engineering BS <br> 
                        Aerospace Engineering MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/RocketLead23-24.jpg' %}"
                    alt="Rocket Lead" />
                <div class="card-body">
                    <h1 class="card-title">Rocket Lead</h1>
                    <h4 class="card-text">Henry Lambert</h4>
                    <p class="card-text">
                        Class of '25 <br> 
                        Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/PayloadLead23-24.jpg' %}"
                    alt="Payload Lead" />
                <div class="card-body">
                    <h1 class="card-title">Payload Lead</h1>
                    <h4 class="card-text">Cameron Best</h4>
                    <p class="card-text">
                        Class of '25 <br> 
                        Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
		<div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/EnPLead23-24.jpg' %}"
                    alt="Electronics Lead" />
                <div class="card-body">
                    <h1 class="card-title">Electrical & Software Lead</h1>
                    <h4 class="card-text">Dan Pearson</h4>
                    <p class="card-text">
                        Class of '25 <br> 
                        Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center text-left">
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/Treasurer23-24.jpg' %}"
                    alt="Treasurer" />
                <div class="card-body">
                    <h2 class="card-title">Treasurer</h2>
                    <h4 class="card-text">Paige Rust</h4>
                    <p class="card-text">
                        Class of '26 <br> 
                        Aerospace Engineering BS <br> 
                        Electrical and Computer Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/Safety23-24.jpg' %}"
                    alt="Safety Officer" />
                <div class="card-body">
                    <h2 class="card-title">Safety Officer</h2>
                    <h4 class="card-text">Haggay Vardi</h4>
                    <p class="card-text">
                        Class of '24 <br> 
                        Mechanical Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/Sponsorship23-24.jpg' %}"
                    alt="Sponsorship Officer" />
                <div class="card-body">
                    <h2 class="card-title">Sponsorship Officer</h2>
                    <h4 class="card-text">Peter Korfuzi</h4>
                    <p class="card-text">
                        Class of '24 <br> 
                        Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/Logistics23-24.jpg' %}"
                    alt="Logistics Officer" />
                <div class="card-body">
                    <h2 class="card-title">Logistics Officer</h2>
                    <h4 class="card-text">Charlie Tribble</h4>
                    <p class="card-text">
                        Class of '24 <br> 
                        Physics BS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center text-left">
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/Engagement23-24.jpg' %}"
                    alt="Engagement Officer" />
                <div class="card-body">
                    <h2 class="card-title">Engagement Officer</h2>
                    <h4 class="card-text">Kelli Huang</h4>
                    <p class="card-text">
                        Class of '24 <br> 
                        Mechanical Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/Documentation23-24.jpg' %}"
                    alt="Documentation Officer" />
                <div class="card-body">
                    <h2 class="card-title">Documentation Officer</h2>
                    <h4 class="card-text">Jon Whooley</h4>
                    <p class="card-text">
                        Class of '24 <br> 
                        Mechanical Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 ">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/23-24/PR23-24.jpg' %}" alt="P.R. Officer" />
                <div class="card-body">
                    <h2 class="card-title">P.R. Officer</h2>
                    <h4 class="card-text">Ben Peters</h4>
                    <p class="card-text">
                        Class of '26 <br> 
                        Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}
