{% extends "hprc/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="display-3 mt-5">The Officer Board</h1>
    <hr />


    <div class="row justify-content-center text-left">

        <div class="col-md-4">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/rocketlead.jpg' %}"
                    alt="Rocket Lead" />
                <div class="card-body">
                    <h1 class="card-title">Rocket Lead</h1>
                    <h4 class="card-text">Troy Otter</h4>
                    <p class="card-text">
                        Class of '22, Aerospace Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/captain.jpg' %}" alt="Captain" />
                <div class="card-body">
                    <h1 class="card-title">Captain</h1>
                    <h4 class="card-text">Kirsten Bowers</h4>
                    <p class="card-text">
                        Class of '22, Aerospace Engineering BS, Electrical Engineering Minor
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/payloadlead.jpg' %}"
                    alt="Payload Lead" />
                <div class="card-body">
                    <h1 class="card-title">Payload Lead</h1>
                    <h4 class="card-text">Thierry de Crespingy</h4>
                    <p class="card-text">
                        Class of '21, Aerospace Engineering BS/MS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center text-left">
        <div class="col-md-3">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/treasurer.jpg' %}"
                    alt="Treasurer" />
                <div class="card-body">
                    <h2 class="card-title">Treasurer</h2>
                    <h4 class="card-text">Kevin Schultz</h4>
                    <p class="card-text">
                        Class of '23, Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/safety.jpg' %}"
                    alt="Safety Officer" />
                <div class="card-body">
                    <h2 class="card-title">Safety Officer</h2>
                    <h4 class="card-text">Michael Beskid</h4>
                    <p class="card-text">
                        Class of '23, Aerospace Engineering BS, Robotics Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/sponsorship.jpg' %}"
                    alt="Sponsorship Officer" />
                <div class="card-body">
                    <h2 class="card-title">Sponsorship Officer</h2>
                    <h4 class="card-text">Julia Sheats</h4>
                    <p class="card-text">
                        Class of '23, Mechanical Engineering BS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/logistics.jpg' %}"
                    alt="Logistics Officer" />
                <div class="card-body">
                    <h2 class="card-title">Logistics Officer</h2>
                    <h4 class="card-text">Nikita Jagdish</h4>
                    <p class="card-text">
                        Class of '22, Mechanical Engineering BS, Aerospace Engineering and Computer Science Minor
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center text-left">
        <div class="col-md-3">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/engagement.jpg' %}"
                    alt="Engagement Officer" />
                <div class="card-body">
                    <h2 class="card-title">Engagement Officer</h2>
                    <h4 class="card-text">Connor Walsh</h4>
                    <p class="card-text">
                        Class of '22, Aerospace Engineering BS, Astrophysics Minor
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/documentation.jpg' %}"
                    alt="Documentation Officer" />
                <div class="card-body">
                    <h2 class="card-title">Documentation Officer</h2>
                    <h4 class="card-text">Christian Schrader</h4>
                    <p class="card-text">
                        Class of '21, Aerospace Engineering BS/MS, Computer Science Minor
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 p-1">
                <img class="card-img-top rounded" src="{% static 'hprc/img/officers/pr.jpg' %}" alt="P.R. Officer" />
                <div class="card-body">
                    <h2 class="card-title">P.R. Officer</h2>
                    <h4 class="card-text">Chris Davenport</h4>
                    <p class="card-text">
                        Class of '22, Aerospace Engineering BS
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock content %}