{% extends "wiki/base_site.html" %}
{% load static %}
{% block wiki_site_title %} - AIAA Wiki{% endblock %}

{% block wiki_header_branding %}
<link rel="icon" href="{% static 'icon/favicon-32x32.png' %}" />
<a class="navbar-brand" style="padding-top: 8px;" href="/"><img
        src="{% static 'home/img/aiaa-logo-light-2000px-nosub.png' %}" alt="AIAA - WPI Student Chapter"
        style="padding-top: 2px; width: 100px;" /></a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'wiki:root' %}">Directory</a>
    </li>
</ul>
{% endblock %}

{% block css %}

{% endblock %}